body{
    background-color:whitesmoke;
}
/*padding*/
.content{
    padding-left: 1%;
    padding-right: 1%;
}

form{
    padding: 2%;
}
.required-field:after {
    color: #d00;
    content: "*";
    position: relative;
  
}
.leftpadding{
    padding-left: 2%;
}

.pgpadding{
padding: 2%;
}
/*anchor*/

a{
    cursor: pointer;
    text-decoration: none;
}

.link{
    color:white;
}

/*div*/
.divinline{
display: inline-block;
}

/*bootstrap*/
.nav-link{
    color: white !important;
}
.navbar-nav{
    padding-left: 1%;
}
table{
    background-color: aliceblue !important;
}
tbody{
    border: 1px solid lavender;
}
thead{
    background-color:#7B68EE   !important;
    color:white;
 
}

thead > tr>th
{
	   border:none ! important;
}
