body{
    background-color:aliceblue;
 font-family: Arial, Helvetica, sans-serif;
}
/*padding*/
.content{
    padding-left: 1%;
    padding-right: 1%;
}

form{
    padding: 2%;
}
.required-field:after {
    color: #d00;
    content: "*";
    position: relative;
  
}
.leftpadding{
    padding-left: 2%;
}

.pgpadding{
padding: 2%;
}
/*anchor*/

a{
    cursor: pointer;
    text-decoration: none;
}

.link{
    color:white;
}

/*div*/
.divinline{
display: inline-block;
}

/*bootstrap*/
.nav-link{
    color: white !important;
}
.navbar-nav{
    padding-left: 1%;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #5cb85c !important;
    color: #f7f7f7 !important;
}


table{
    background-color: azure !important;
}
tbody{
    border: 1px solid lavender;
}
thead{
   /* background-color:#7B68EE   !important;*/
    color:black;
 
}

thead > tr>th
{
	 /*  border:none ! important;*/
	   font-weight: normal !important;
}

table > tbody > tr:hover {
    background-color: lavender;
}

#alert
{
	color:red;
}

.header
{
	color: coral;
}
