<!doctype html>
<html ng-app="expenseApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="expensetracker.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="expensetracker.css" rel="stylesheet">
</head>
<body  ng-init="monthExp()" ng-controller="ExpenseTrackerController">
    <nav  class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a style="padding-left:1%;" class="navbar-brand" data-pgid="2"  href="" ng-click="loadPage($event)" >Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" data-pgid="2"  href="" ng-click="loadPage($event)">Add Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-pgid="4"    href="" ng-click="loadPage($event)">Report</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href=""  ng-click="exportToExcel()">Export Excel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin.html">Admin</a>
              </li>
            </ul>
        </div>
      </nav>
      
     
<div class="content">
	   <div class="pgpadding">
	    <h5 class="header"> Expense List - <span ng-bind="expenseMonth" class="header"></span> - <span ng-bind="totalExpense | currency: '&#8377;' " class="header"></span> </h5>
	   </div>
	
    <div class="row" >       
         <div class="col">
            <input  class="form-control" id="srchexp"  type="search" ng-model="searchText.expense" placeholder="search expense"/>
            
         </div>
         <div  class="col">
      <select class="form-control" ng-model= "selectMonth"  ng-change="monthExp()">
    <option selected value='1'>Janaury</option>
    <option value='2'>February</option>
    <option value='3'>March</option>
    <option value='4'>April</option>
    <option value='5'>May</option>
    <option value='6'>June</option>
    <option value='7'>July</option>
    <option value='8'>August</option>
    <option value='9'>September</option>
    <option value='10'>October</option>
    <option value='11'>November</option>
    <option value='12'>December</option>
    </select> 
    
         </div>
        </div>
    <br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
            Expense
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
                     <th>
                Comment
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-date="row.date" ng-repeat="row in mlist | orderBy:'-amount' | filter:searchText | filter:expenseFilter track by $index">
            <td>
                <a href="" data-pgid="3"    ng-click="loadPage($event)"   data-editid="{{row.id}}"> {{row.expense}}</a>               
            </td>
            <td>
            	    	<label  ng-style="formatAmount(row)" ng-bind="row.amount | currency:'&#8377;'" ></label>
            </td>
                  <td>
                <label ng-bind="row.date |  date:'MM/dd/yyyy'"></label>
            </td>
                  <td>
                {{row.comment}}
            </td>
      
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
            	  <span>Expense: </span>
             <label class="text-danger" ng-bind="totalExpense | currency: '&#8377;' "></label> 
             	<span> *****</span>
                	<span>Income: </span>
            <label class="text-success" ng-bind="totalIncome | currency: '&#8377;' "></label>
            </td>
        </tr>
    </tfoot>
</table>
    	<span>&copy; <script>document.write(new Date().getFullYear())</script> Expense Tracker  - <a href="mailto: giri-webdev@outlook.com">Giri Prasad</a>
    		| <a href="" onclick="openFullscreen()">view</a>
    		| <a href=""    onclick="closeFullscreen()">resize</button>
	</span>
    <br/>
        <br/>
</div>
    <script type="text/javascript">
   // $(function(){
   // const monthControl = document.querySelector('select');
  //  monthControl.value = new Date().getMonth()+1;
//});
var elem = document.documentElement;

function openFullscreen() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.webkitRequestFullscreen) { /* Safari */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE11 */
    elem.msRequestFullscreen();
  }
}


function closeFullscreen() {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.webkitExitFullscreen) { /* Safari */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE11 */
    document.msExitFullscreen();
  }
}
    </script>
</body>

</html>
